:root {
    --headerColor: rgba(94, 93, 88, 0.6);
    --mainColor: #18CFAB;
    --btnPurchase: #00CBF6;
    --lightTextColor: #fff;
    --light2TextColor: #D4D4D4;
    --hexagon: 58px;
    --mainMenuColor: rgba(255, 255, 255, 0.6);
}

* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.header {
    position: absolute;
    width: 100%;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--headerColor);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 198px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-hexagon {
    width: var(--hexagon);
    height: calc(var(--hexagon) * 1.1547);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    color: var(--lightColor);
    background-color: var(--mainColor);
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

.logo-text {
    font-size: 32px;
    color: var(--lightTextColor);
}

.logo-text-main_color {
    font-weight: 700;
    color: var(--mainColor);
}

.nav {
    margin-left: 305px;
    width: 614px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--mainMenuColor);
    transition: color .3s ease;
}

.nav-item:hover {
    color: var(--mainColor);
}

.btn-search {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    background-image: url(/icons/search.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("img/BG.jpg");
    min-height: 1012px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-title {
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 35px;
    color: var(--lightTextColor);
    text-transform: uppercase;
}

.home-title-main_color {
    color: var(--mainColor);
}

.home-main_title {
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 78px;
    color: var(--lightTextColor);
    text-transform: uppercase;
}

.home-subtitle {
    margin-bottom: 130px;
    font-size: 34px;
    color: var(--light2TextColor);
}

.home-btns {
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn {
    width: 169px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    border-top: 5px solid var(--lightTextColor);
    border-radius: 5px;
    color: var(--lightTextColor);
    transition: transform .5s ease;
}

.btn-explore {
    margin-right: 28px;
    background-color: var(--mainColor);
}

.btn-purchase {
    background-color: var(--btnPurchase);
}

.btn:hover {
    transform: translateY(-10px);
}