:root {
    --headerColor: rgba(94, 93, 88, 0.6);
    --mainColor: #18CFAB;
    --mainDarkColor: #1C2A33;
    --btn2ndColor: #00CBF6;
    --lightTextColor: #fff;
    --light2TextColor: #D4D4D4;
    --hexagon: 58px;
    --mainMenuColor: rgba(255, 255, 255, 0.6);
    --titleColor: #4E4E4E;
    --titleFZ: 36px;
    --tabBGColor: #F8FCFE;
    --tabBorder: 1px solid #EDEFEF;
    --tabBorderHover: 1px solid var(--mainColor);
    --tabFZ: 16px;
    --tabtxtColor: #717171;
    --tabTriangle: 20px;

    --tabWorkBorder: 1px solid #DADADA;
    --tabWorkBorderHover: 1px solid var(--mainColor);
    --tabWorkFZ: 14px;
    --tabWorkTxtColor: #717171;

    --newsDateBG: #203E38;
    --newsDateTxt: #fff;

    --opinionTxtColor: #BBBBBB;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.header {
    position: absolute;
    width: 100%;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--headerColor);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 198px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-hexagon {
    width: var(--hexagon);
    height: calc(var(--hexagon) * 1.1547);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    color: var(--lightColor);
    background-color: var(--mainColor);
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

.logo-text {
    font-size: 32px;
    color: var(--lightTextColor);
}

.logo-text-main_color {
    font-weight: 700;
    color: var(--mainColor);
}

.nav {
    margin-left: 305px;
    width: 614px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--mainMenuColor);
    transition: color .3s ease;
}

.nav-item:hover {
    color: var(--mainColor);
}

.btn-search {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    background-image: url(/icons/search.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("img/BG.jpg");
    min-height: 1012px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-title {
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 35px;
    color: var(--lightTextColor);
    text-transform: uppercase;
}

.home-title-main_color {
    color: var(--mainColor);
}

.home-main_title {
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 78px;
    color: var(--lightTextColor);
    text-transform: uppercase;
}

.home-subtitle {
    margin-bottom: 130px;
    font-size: 34px;
    color: var(--light2TextColor);
}

.home-btns {
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn {
    width: 169px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    border-top: 5px solid var(--lightTextColor);
    border-radius: 5px;
    color: var(--lightTextColor);
    background-color: var(--mainColor);
    transition: transform .5s ease;
}

.btn-explore {
    margin-right: 28px;
}

.btn-purchase {
    background-color: var(--btn2ndColor);
}

.btn:hover {
    transform: translateY(-10px);
}

.options {
    padding-top: 8px;
}

.options-grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.options-item {
    min-height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.options-item:nth-child(odd) {
    background-color: var(--mainDarkColor);
    color: var(--mainColor);
}

.options-item:nth-child(even) {
    background-color: var(--mainColor);
    color: var(--lightTextColor);
}

.options-item-txt {
    padding-top: 50px;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.services {
    padding: 92px 0;
    min-height: 558px;
}

.title {
    position: relative;
    font-size: var(--titleFZ);
    color: var(--titleColor);
    text-align: center;
}

.title::before, .title::after {
    content: "";
    display: block;
    position: relative;

    margin: 0 auto;
    height: 1px;
    width: 75px;
    background-color: var(--mainColor);
}

.title::before {
    top: 70px;
}

.title::after {
    top: 30px;
    left: 10px;
}

.services-tabs {
    padding-top: 100px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
}

.tab-title {
    padding: 20px 34px;
    background: var(--tabBGColor);
    border: var(--tabBorder);
    font-size: var(--tabFZ);
    color: var(--tabTxtColor);
    cursor: pointer;
    position: relative;
}

.tab-title:hover {
    border: var(--tabBorderHover);
}

.tab-title.active {
    background-color: var(--mainColor);
    color: var(--lightTextColor);
}

.tab-title.active::after {
    content: "";
    display: block;
    width: var(--tabTriangle);
    height: var(--tabTriangle);
    background-color: var(--mainColor);
    position: absolute;
    top: 75%;
    left: calc(50% - var(--tabTriangle)/2);
    transform: rotate(45deg);
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tab-content-img {
    float: left;
    margin-right: 13px;
    width: 194px;
    height: 139px;
    object-fit: cover;
}

.tab-content-txt {
    font-size: 14px;
    line-height: 24px;
    color: #777;
}

.buy {
    padding-top: 126px;
    min-height: 477px;
    background-image: url("img/bg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title2 {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: var(--mainColor);
}

.buy-txt {
    padding-top: 25px;
    font-size: 16px;
    color: #D8D8D8;
    text-align: center;
}

.buy-btn {
    margin: 0 auto;
    margin-top: 60px;
}

.work {
    padding-top: 98px;
    min-height: 1212px;
    background-color: #E9EDEF;
}

.work-tabs {
    padding-top: 93px;
    padding-bottom: 68px;
    display: flex;
    justify-content: center;
}

.work-tab-title {
    padding: 15px;
    border: var(--tabWorkBorder);
    font-size: var(--tabWorkFZ);
    color: var(--tabWorkTxtColor);
    cursor: pointer;
    position: relative;
    transition: color, border .7s ease;
}

.work-tab-title:hover, .work-tab-title.active {
    border: var(--tabBorderHover);
    color: var(--mainColor);
}

.work-contents {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 208px;
    gap: 0;
}

.work-content {
    cursor: pointer;
}

.work-content>img {
    width: 100%;
    object-fit: cover;
}

.work-content {
    display: none;
}

.work-content.active {
    position: relative;
    display: block;
    overflow: hidden;
}

.work-content-popup {
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E9EDEF;
    border-top: 4px solid var(--mainColor);
    transform: translateY(130%);
    transition: transform .6s ease-in;
}

.work-content.active:hover .work-content-popup {
    transform: translateY(0);
}

.popup-links {
    display: flex;
}

.popup-link {
    margin-right: 3px;
    width: 40px;
    height: 40px;
    border: 1px solid var(--mainColor);
    border-radius: 100%;
    background-image: url("icons/link.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
}

.popup-btn {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--mainColor);
}

.popup-btn::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
}

.popup-title {
    padding-top: 40px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--mainColor);
}

.popup-subtitle {
    padding-top: 12px;
    font-weight: 300;
    font-size: 12px;
    color: #8A8A8A;;
}

.work-btn {
    margin: 0 auto;
    margin-top: 70px;
    border-top: none;
}

.work-btn::before {
    content: "+";
    margin-right: 15px;
    font-size: 30px;
}

.news {
    min-height: 960px;
    padding-top: 84px;
    padding-bottom: 130px;
}

.news-grid {
    padding-top: 105px;
    display: grid;
    grid-template-columns: repeat(4, 265px);
    grid-auto-rows: 280px;
    grid-gap: 44px 33px;
}

.news-item {
    position: relative;
}

.news-item-img {
    width: 100%;
    object-fit: cover;
}

.news-item-date {
    width: 66px;
    height: 64px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--newsDateBG);
    color: var(--newsDateTxt);
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    transition: background-color .3s ease-in;
}

.news-item-title {
    padding-top: 14px;
    padding-left: 20px;
    font-size: 18px;
    color: #717171;
    transition: color .3s ease-in;
}

.news-item-info {
    padding-top: 16px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 300;
    color: #777777;
}

.news-info-divider {
    padding-left: 18px;
    padding-right: 18px;
}

.news-item:hover .news-item-date {
    background-color: var(--mainColor);
}

.news-item:hover .news-item-title {
    color: var(--mainColor);
}

.opinion {
    padding-top: 98px;
    min-height: 853px;
    background-image: url("img/BG3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.opinion .title {
    color: #fff;
}

.opinion-txt {
    position: relative;
    padding-top: 170px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: var(--opinionTxtColor);
}

.opinion-txt::before {
    position: absolute;
    top: 130px;
    left: calc(50% - 20px);
    content: "❛❛";
    font-weight: 700;
    font-size: 80px;
    color: var(--mainColor);
}

.opinion-author {
    padding-top: 37px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: var(--mainColor);
}

.opinion-profession {
    padding-top: 17px;
    font-weight: 300;
    font-size: 13px;
    text-align: center;
    color: var(--opinionTxtColor);
}

.opinion-avatar {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 166px;
    height: 166px;
    border-radius: 100%;
    border: rgba(31, 218, 181, 0.2) solid 12px;
}

.opinion-nav-box {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    transition: background-color .3s ease-in;
}

.arrow:hover {
    background-color: var(--mainColor);
    border: none;
}

.arrow-right {
    margin-left: 25px;
}

.arrow-left {
    margin-right: 25px;
}

.opinion-nav{
    width: 370px;
    display: flex;
    justify-content: space-between;
}

.opinion-nav-item {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: rgba(31, 218, 181, 0.2) solid 4px;
    cursor: pointer;
    transition: transform .3s ease;
}

.opinion-nav-item:hover {
    transform: translateY(-15px);
}